/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/unicode.dtsi>

&uc {
  default-mode = <UC_MODE_WIN_COMPOSE>;
  win-compose-key = <RALT>;   // по умолчанию так и есть, можно поменять
};
// Пара: (без Shift, с Shift)
#define UPAIR(lo, hi) lo hi

// --- EN (латиница) ---
#define EN_A UPAIR(0x0061, 0x0041)
#define EN_B UPAIR(0x0062, 0x0042)
#define EN_C UPAIR(0x0063, 0x0043)
// ... продолжи по аналогии до EN_Z (0x007A / 0x005A)

// --- RU (кириллица) ---
#define RU_A        UPAIR(0x0430, 0x0410) // а/А
#define RU_BE       UPAIR(0x0431, 0x0411) // б/Б
#define RU_VE       UPAIR(0x0432, 0x0412) // в/В
#define RU_GHE      UPAIR(0x0433, 0x0413) // г/Г
#define RU_DE       UPAIR(0x0434, 0x0414) // д/Д
#define RU_IE       UPAIR(0x0435, 0x0415) // е/Е
#define RU_IO       UPAIR(0x0451, 0x0401) // ё/Ё
#define RU_ZHE      UPAIR(0x0436, 0x0416) // ж/Ж
#define RU_ZE       UPAIR(0x0437, 0x0417) // з/З
#define RU_I        UPAIR(0x0438, 0x0418) // и/И
#define RU_SHORT_I  UPAIR(0x0439, 0x0419) // й/Й
#define RU_KA       UPAIR(0x043A, 0x041A) // к/К
#define RU_EL       UPAIR(0x043B, 0x041B) // л/Л
#define RU_EM       UPAIR(0x043C, 0x041C) // м/М
#define RU_EN       UPAIR(0x043D, 0x041D) // н/Н
#define RU_O        UPAIR(0x043E, 0x041E) // о/О
#define RU_PE       UPAIR(0x043F, 0x041F) // п/П
#define RU_ER       UPAIR(0x0440, 0x0420) // р/Р
#define RU_ES       UPAIR(0x0441, 0x0421) // с/С
#define RU_TE       UPAIR(0x0442, 0x0422) // т/Т
#define RU_U        UPAIR(0x0443, 0x0423) // у/У
#define RU_EF       UPAIR(0x0444, 0x0424) // ф/Ф
#define RU_HA       UPAIR(0x0445, 0x0425) // х/Х
#define RU_TSE      UPAIR(0x0446, 0x0426) // ц/Ц
#define RU_CHE      UPAIR(0x0447, 0x0427) // ч/Ч
#define RU_SHA      UPAIR(0x0448, 0x0428) // ш/Ш
#define RU_SHCHA    UPAIR(0x0449, 0x0429) // щ/Щ
#define RU_HARD     UPAIR(0x044A, 0x042A) // ъ/Ъ
#define RU_YERU     UPAIR(0x044B, 0x042B) // ы/Ы
#define RU_SOFT     UPAIR(0x044C, 0x042C) // ь/Ь
#define RU_E        UPAIR(0x044D, 0x042D) // э/Э
#define RU_YU       UPAIR(0x044E, 0x042E) // ю/Ю
#define RU_YA       UPAIR(0x044F, 0x042F) // я/Я
/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            key-positions = <13 14>;
            bindings = <&kp ESC>;
            layers = <0 1 2>;
        };

        skob {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <31 32>;
            layers = <0 2 1>;
        };

        skobb {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <32 33>;
            layers = <0 2 1>;
        };

        del {
            bindings = <&kp BACKSPACE>;
            key-positions = <21 22>;
        };

        x {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <33 34>;
            layers = <0>;
        };

        hard {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <45 46>;
            layers = <0>;
        };

        questionRus {
            bindings = <&kp AMPERSAND>;
            key-positions = <21 19>;
            layers = <0>;
        };

        opaa {
            bindings = <&kp EXCLAMATION>;
            key-positions = <21 18>;
        };

        scoben {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <19 20>;
            layers = <1>;
        };

        scobenn {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <20 21>;
            layers = <1>;
        };

        rusToEn {
            bindings = <&to 1>;
            key-positions = <30 34>;
            layers = <0>;
        };

        enToRus {
            bindings = <&to 0>;
            key-positions = <30 34>;
            layers = <1>;
        };

        questionEn {
            bindings = <&kp QUESTION>;
            key-positions = <19 21>;
            layers = <1 2>;
        };

        SkobenLow {
            bindings = <&kp LESS_THAN>;
            key-positions = <45 46>;
            layers = <1>;
        };

        SkobenLow2 {
            bindings = <&kp GREATER_THAN>;
            key-positions = <46 47>;
            layers = <1>;
        };

        GameMode {
            bindings = <&to 3>;
            key-positions = <43 54 55>;
            layers = <0 1 2>;
        };

        NormalMode {
            bindings = <&to 0>;
            key-positions = <43 54 55>;
            layers = <3>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        rus {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE   &kp SPACE                         &kp SPACE  &kp SPACE   &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE
&kp SPACE  &kp RU_EF  &kp W      &kp E      &kp R       &kp T                             &kp Y      &kp U       &kp I      &kp O      &kp P      &kp SPACE
&kp SPACE  &kp A      &kp S      &kp D      &kp F       &kp G                             &kp H      &kp J       &kp K      &kp L      &kp SEMI   &kp SPACE
&kp SPACE  &kp Z      &kp X      &kp C      &kp V       &kp B      &kp LALT    &kp ENTER  &kp N      &kp M       &kp COMMA  &kp DOT    &kp APOS   &kp SPACE
                                 &kp TAB    &kp DELETE  &kp LSHFT  &sl 2       &kp SPACE  &kp LCTRL  &kp KP_DOT  &kp FSLH
            >;
        };

        en {
            bindings = <
&kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE   &kp SPACE                         &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE
&kp SPACE  &kp GRAVE  &kp BSLH   &kp SEMI   &kp P       &kp Y                             &kp F      &kp G      &kp C      &kp R      &kp L      &kp SPACE
&kp SPACE  &kp A      &kp O      &kp E      &kp U       &kp I                             &kp D      &kp H      &kp T      &kp N      &kp S      &kp SPACE
&kp SPACE  &kp APOS   &kp Q      &kp J      &kp K       &kp X      &kp LALT    &kp ENTER  &kp B      &kp M      &kp W      &kp V      &kp Z      &kp SPACE
                                 &kp TAB    &kp DELETE  &kp LSHFT  &sl 2       &kp SPACE  &kp LCTRL  &kp COMMA  &kp DOT
            >;
        };

        num {
            bindings = <
&kp SPACE  &kp SPACE    &kp SPACE      &kp SPACE       &kp SPACE   &kp SPACE                            &kp SPACE        &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE      &kp SPACE
&kp SPACE  &kp AT_SIGN  &kp AMPERSAND  &kp UP          &kp POUND   &kp DOLLAR                           &kp KP_ASTERISK  &kp N7     &kp N8     &kp N9     &kp KP_DIVIDE  &kp SPACE
&kp SPACE  &kp PERCENT  &kp LEFT       &kp DOWN_ARROW  &kp RIGHT   &kp CARET                            &kp KP_PLUS      &kp N4     &kp N5     &kp N6     &kp MINUS      &kp SPACE
&kp SPACE  &kp F1       &kp F2         &kp F6          &kp F4      &kp F5      &kp LALT      &kp ENTER  &kp NUMBER_0     &kp N1     &kp N2     &kp N3     &kp EQUAL      &kp SPACE
                                       &kp TAB         &kp DELETE  &kp LSHFT   &kp LS(F6)    &kp SPACE  &kp LCTRL        &kp COMMA  &kp DOT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE                         &kp SPACE  &kp SPACE   &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE
&kp SPACE  &kp T      &kp Q      &kp W      &kp E      &kp R                             &kp Y      &kp U       &kp I      &kp O      &kp P      &kp SPACE
&kp SPACE  &kp LSHFT  &kp A      &kp S      &kp D      &kp F                             &kp H      &kp J       &kp K      &kp L      &kp SEMI   &kp SPACE
&kp SPACE  &kp LCTRL  &kp Z      &kp X      &kp C      &kp V      &sl 4       &kp ENTER  &kp N      &kp M       &kp COMMA  &kp DOT    &kp APOS   &kp SPACE
                                 &kp TAB    &kp LSHFT  &kp SPACE  &kp LALT    &kp SPACE  &kp LCTRL  &kp KP_DOT  &kp FSLH
            >;
        };

        layer_4 {
            bindings = <
&kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE                          &kp SPACE  &kp SPACE   &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE
&kp SPACE  &kp Y      &kp U      &kp I      &kp O      &kp P                              &kp Y      &kp U       &kp I      &kp O      &kp P      &kp SPACE
&kp SPACE  &kp G      &kp H      &kp J      &kp K      &kp L                              &kp H      &kp J       &kp K      &kp L      &kp SEMI   &kp SPACE
&kp SPACE  &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp SPACE    &kp ENTER  &kp N      &kp M       &kp COMMA  &kp DOT    &kp APOS   &kp SPACE
                                 &kp TAB    &kp LSHFT  &kp SPACE  &kp LALT     &kp SPACE  &kp LCTRL  &kp KP_DOT  &kp FSLH
            >;
        };
    };
};
